/BooksManagement/logs/
/out/production/BooksManagement/com/llm/booksmanagement/BookItem.class
/out/production/BooksManagement/com/llm/booksmanagement/BookItemState.class
/out/production/BooksManagement/com/llm/booksmanagement/BookManagementManager.class
/out/production/BooksManagement/com/llm/booksmanagement/BookManagementService.class
/out/production/BooksManagement/com/llm/booksmanagement/BookStore.class
/out/production/BooksManagement/com/llm/booksmanagement/BookTitle.class
/out/production/Library-Lending-Management/drawiodiagram.svg
/out/production/BooksManagement/com/llm/booksmanagement/IBookStore.class
/out/production/BooksManagement/com/llm/booksmanagement/ItemType.class
/out/production/MembershipLending/com/llm/membershiplending/LendingBasket.class
/out/production/Library-Lending-Management/com/llm/ui/Main.class
/out/production/MembershipAdministration/com/llm/membershipadmin/Member.class
/out/production/MembershipLending/com/llm/membershiplending/MemberLending.class
/out/production/MembershipAdministration/com/llm/membershipadmin/MemberRole.class
/out/production/MembershipAdministration/com/llm/membershipadmin/MemberStatus.class
/out/production/Library-Lending-Management/UseCaseDiagram.drawio
/out/production/Library-Lending-Management/UseCases.jpg
